[build]
builder = "dockerfile"
dockerfilePath = "./compose/production/traefik/Dockerfile"

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
id = "postgres"
source = { repo = "https://github.com/eleazarpuntonet/my_big_chance" }
build = { builder = "dockerfile", dockerfilePath = "./compose/production/postgres/Dockerfile" }

[[services]]
id = "backend"
source = { repo = "https://github.com/eleazarpuntonet/my_big_chance" }
build = { builder = "dockerfile", dockerfilePath = "./choppi-backend/Dockerfile.prod" }
dependsOn = ["postgres"]

[[services]]
id = "nginx_frontend"
source = { repo = "https://github.com/eleazarpuntonet/my_big_chance" }
build = { builder = "dockerfile", dockerfilePath = "./compose/production/nginx/Dockerfile.frontend" }

[[services]]
id = "nginx_backend"
source = { repo = "https://github.com/eleazarpuntonet/my_big_chance" }
build = { builder = "dockerfile", dockerfilePath = "./compose/production/nginx/Dockerfile.backend" }
dependsOn = ["backend"]

[[services]]
id = "traefik"
source = { repo = "https://github.com/eleazarpuntonet/my_big_chance" }
build = { builder = "dockerfile", dockerfilePath = "./compose/production/traefik/Dockerfile" }
dependsOn = ["nginx_frontend", "nginx_backend"]