@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--neutral: #F9FAFB;
		--primary: #FAA531;
		--primary-deep: #E6932A;
		--primary-mild: #FBBF7A;
		--primary-subtle: rgba(250, 165, 49, 0.1);
		--error: #ff6a55;
		--error-subtle: #ff6a551a;
		--success: #10b981;
		--success-subtle: #05eb7624;
		--info: #2a85ff;
		--info-subtle: #2a85ff1a;
		--warning: #f59e0b;
		--warning-subtle: #ffd40045;
		--gray-50: #F9FAFB;
		--gray-100: #F9FAFB;
		--gray-200: #9CA3AE;
		--gray-300: #9CA3AE;
		--gray-400: #4B5563;
		--gray-500: #4B5563;
		--gray-600: #4B5563;
		--gray-700: #111827;
		--gray-800: #111827;
		--gray-900: #000000;
		--gray-950: #000000;
	}

	.dark {
		--neutral: #111827;
		--primary: #FAA531;
		--primary-deep: #E6932A;
		--primary-mild: #FBBF7A;
		--primary-subtle: rgba(250, 165, 49, 0.1);
		--error: #ff6a55;
		--error-subtle: #ff6a551a; 
		--success: #10b981;
		--success-subtle: #05eb7624;
		--info: #2a85ff;
		--info-subtle: #2a85ff1a;
		--warning: #f59e0b;
		--warning-subtle: #ffd40045;
		--gray-50: #000000;
		--gray-100: #111827;
		--gray-200: #4B5563;
		--gray-300: #4B5563;
		--gray-400: #9CA3AE;
		--gray-500: #9CA3AE;
		--gray-600: #9CA3AE;
		--gray-700: #F9FAFB;
		--gray-800: #F9FAFB;
		--gray-900: #F9FAFB;
		--gray-950: #F9FAFB;
	}


	body {
		@apply text-gray-500 dark:text-gray-400 text-sm bg-gray-100 dark:bg-gray-950 leading-normal font-medium;
		-webkit-font-smoothing: antialiased;
	}

	h1,
	.h1 {
		@apply text-4xl font-bold text-gray-900 dark:text-gray-100;
	}

	h2,
	.h2 {
		@apply text-3xl font-bold text-gray-900 dark:text-gray-100;
	}

	h3,
	.h3 {
		@apply text-2xl font-bold text-gray-900 dark:text-gray-100;
	}

	h4,
	.h4 {
		@apply text-xl font-bold text-gray-900 dark:text-gray-100;
	}

	h5,
	.h5 {
		@apply text-lg font-bold text-gray-900 dark:text-gray-100;
	}

	h6,
	.h6 {
		@apply text-base font-semibold text-gray-900 dark:text-gray-100;
	}

	hr {
		@apply border-gray-200 dark:border-gray-600;
	}

	.heading-text {
		@apply text-gray-900 dark:text-gray-100;
	}
}